@font-face {
  font-family: "bitrank";
  src: url("../Fonts/Midstar_Personal_Use.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
}
html {
  height: 100%;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
body {
  color: #ffffff;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
header {
  background-color: #101010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3dbcc;
  padding: 20px 40px;
}
footer {
  margin-top: auto;
  background-color: #101010;
  text-align: center;
  color: #fff;
  padding: 20px;
  border-top: 1px solid #474747;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
nav a:hover {
  color: #a8c4de;
}

nav a.pagina {
  color: #3294c9;
}

main {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.botao {
  display: inline-block;
  background-color: #394324;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.botao:hover {
  color: #f7f4f3d6;
  background-color: #314229;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo-name {
  font-family: "bitrank";
  letter-spacing: -1.5px;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 40px;
  transition-duration: 0.4s;
}
.logo-name a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}
.itens h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #000000;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.vinil {
  border-radius: 15px;
  padding: 15px;
  width: 250px;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, background-color 0.3s;
}

.vinil img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 6px;
  transition-duration: 0.4s;
  margin-bottom: 15px;
}
.vinil img:hover {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
  z-index: 10;
  transition-duration: 0.5s;
  transform: scale(1.06);
}
.vinil h3 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 8px;
}
.vinil .descricao {
  font-size: 14px;
  color: #a0a0a0;
  margin-bottom: 12px;
  line-height: 1.4;
  flex-grow: 1;
}
.vinil .preco {
  font-size: 18;
  font-weight: bold;
  color: #1d78b9;
  margin-bottom: 15px;
}

.comprar {
  background-color: transparent;
  border: 2px solid #1d56b9;
  color: #1d56b9;
  padding: 8px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.comprar:hover {
  color: #e6e6e6;
  background-color: #1d56b9;
  transition-duration: 0.3s;
}
.info {
  padding-bottom: 10px;
}
.info h3 {
  margin-bottom: 3px;
  font-weight: 600;
  font-size: larger;
  color: #000;
  font-weight: bold;
}
.info h4 {
  font-weight: 700;
  color: #454545;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
    text-align: center;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
